@model den_office.Models.Reservation

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<head>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>



</head>
<body>


    @{
        IEnumerable<Reservation> ListOfDates = ViewData["ListOfDates"] as IEnumerable<Reservation>;

        TimeSpan ts1 = new TimeSpan(10, 00, 00);

        DateTime date1 = DateTime.Now.Date + ts1;
        int idInMethod = 0;
        int idInLoops = 0;


        var singleDay = new List<DateTime>();
        for (int i = 0; i < 14; i++)
        {
            singleDay.Add(DateTime.Now.Date + ts1);
            ts1 += TimeSpan.FromMinutes(30);
        }
    }

    @{
        var now = DateTime.Now.Date;
        var booked = ListOfDates
            .Select(r => r.ServiceDate)
            .ToHashSet();

        for (var i = 0; i < 5; i++)
        {
            var dateValue = now + TimeSpan.FromHours(10 + i * 0.5f);
            <label asp-for="ServiceDate">@dateValue.TimeOfDay</label>
            <input asp-for="ServiceDate" type="radio" id="dat@dateValue.ToString(" hhMM")" value="@dateValue" disabled="@(booked.Contains(dateValue) ? "true" : null)"><br>
        }
    }




    @foreach (var item in singleDay)
    {
        <a>@item.TimeOfDay</a>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateRes">

                <h4>Reservation</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-check">
                    <span asp-validation-for="ServiceDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a>@date1.ToString("dddd, dd MMMM yyyy")</a><br />

                    @foreach (var item in singleDay)
                    {

                        <label asp-for="ServiceDate">@item.TimeOfDay</label>
                        <input asp-for="ServiceDate" type="radio" id="@idInMethod" value="@item"><br>
                        idInMethod++;
                    }
                    


                    <span asp-validation-for="ServiceDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ReservationDate" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="CustomerName" class="form-control" value="@ViewData["firstname"]" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="CustomerSurname" class="form-control" value="@ViewData["surname"]" />
                    <span asp-validation-for="CustomerSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="CustomerEmail" class="form-control" value="@ViewData["email"]" />
                    <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select asp-for="ServiceId" class="form-select">
                        <option selected disabled>Wybierz usługę</option>
                        <option value="1">Przegląd techniczny stanu uzębienia</option>
                        <option value="2">Montowanie plomby</option>
                        <option value="3">Eksmisja Zęba</option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>




                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            @foreach (var day in singleDay)
            {
                @foreach (Reservation item in ListOfDates)
                {
                    <a>@item.ServiceDate.Hour</a>
                    if (@item.ServiceDate.Hour == day.Hour && item.ServiceDate.Minute == day.Minute)
                    {
                        <a>
                            @item.ServiceDate.Hour tej jest taka data!!!
                            <script>
                                document.getElementById("@idInLoops").disabled = true;
                            </script>
                        </a>
                    }

                }
                idInLoops++;

            }

        </div>
    </div>


    <p>Date: <input type="date" id="date" value="@date1"></p>



</body>
<script>
    function test() {
        document.getElementById("dat1").disabled = true;

    }
    function test2() {

        document.getElementById("dat2").disabled = true;

    }
</script>
 
