@model den_office.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}
<h2 class="text-center">Potwierdzenie usunięcia rezerwacji Id @Html.DisplayFor(model => model.ReservationId)</h2>
<hr />

    <div>
        <dl class="row">
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Service)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Service.ServiceName)
            </dd>
            
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ServiceDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ServiceDate)
            </dd>
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ReservationDate)
            </dd>

            @if (User.IsInRole("Admin"))
            {
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerSurname)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CustomerSurname)
            </dd>
            <div class="col-sm-4"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>
            }
        </dl>
        <form asp-action="Delete" class="d-flex justify-content-center" style="margin-top:40px">
            <input type="hidden" asp-for="ReservationId" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a class="btn btn-primary" style="margin-left:20px" asp-action="Index">Anuluj</a>
        </form>
    </div>