@model den_office.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Szczegóły rezerwacji Id @Html.DisplayFor(model => model.ReservationId)</h2>

<div>
    <hr />
    <dl class="row">
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerSurname)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CustomerSurname)
        </dd>
        <div class="col-sm-4"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
    </dl>

</div>
<hr />
    <div class="float-end">
        <a asp-action="Edit" asp-route-id="@Model.ReservationId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>